@model List<ClassLibraryTicketShop.AllEventsByDate>


@{
	ViewBag.Title = "ViewAll";
}

<style>
    input[type=submit] {
        width: 40%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>


@foreach (var item in @Model)
{

	<form action="~/Home/Delete" method="delete">
		<div>
			<input type="hidden"  name="EventId" value="@item.TicketEventDateID" />
            <ul>
                <li><h3>Event Start: @item.EventStartDateTime</h3></li>
                <li><h3>Name of the event: @item.EventName</h3></li>
                <li><h3>Venue: @item.VenueName</h3></li>
                <li><h3>Adress: @item.Address</h3></li>
                <li><h3>City: @item.City</h3></li>
                <li><h3>Country: @item.Country</h3></li>
            </ul>
			@*@Html.ActionLink("Add to Cart!", "Cart", item, new { @class = "btn btn-success" })*@

			<input type="submit" value="Delete" />


		</div>
	</form>
}
