@model List<ClassLibraryTicketShop.AllEventsByDate>



@{
    ViewBag.Title = "ViewAll";
}


@foreach (var item in @Model)
{
    <form action="~/Home/Index" method="get">
        <div class="dropdown">
            <ul>
                <li><h3>@item.EventName</h3></li>
            </ul>
            <div class="dropdown-content">
                <p>Event Start: @item.EventStartDateTime</p>
                <p>Event Description: @item.EventHtmlDescription</p>
                <p>----------------------</p>
                <p>Venue: @item.VenueName</p>
                <p>Adress: @item.Address</p>
                <p>City: @item.City</p>
                <p>Country: @item.Country</p>
                @Html.ActionLink("Add to Cart!", "Cart", item, new { @class = "btn btn-success" })
            </div>
        </div>
    </form>
}