@model List<ClassLibraryTicketShop.AllEventsByDate>



@{
	ViewBag.Title = "ViewAll";
}




<h1>Alla event</h1>

@foreach (var item in @Model)
{

	<form action="~/Home/Index" method="get">
		<lu>
			<h1> @item.EventStartDateTime</h1>
			<h1> @item.EventName</h1>
			<p>@item.EventHtmlDescription</p>
			<h3>@item.VenueName</h3>
			<h3>@item.Address</h3>
			<h3>@item.City</h3>
			<h3>@item.Country</h3>

			@Html.ActionLink("Boka nu!", "Cart", item, new { @class = "btn btn-success" })

			@*<input type="submit" value="Boka nu!" />*@


		</lu>
	</form>
}

