@model List<ClassLibraryTicketShop.AllEventsByDate>



@{
    ViewBag.Title = "ViewAll";
}

<style>
    .dropdown {
        position: relative;
        display: inline-block;
        text-align: center;
    }

    .dropdown-content {
        display: none;
        position: relative;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

@foreach (var item in @Model)
{
    <form action="~/Home/Index" method="get">
        <div class="dropdown">
            <ul>
                <li><h3>@item.EventName</h3></li>
            </ul>
            <div class="dropdown-content">
                <p>Event Start: @item.EventStartDateTime</p>
                <p>Event Description: @item.EventHtmlDescription</p>
                <p>----------------------</p>
                <p>Venue: @item.VenueName</p>
                <p>Adress: @item.Address</p>
                <p>City: @item.City</p>
                <p>Country: @item.Country</p>
                @Html.ActionLink("Add to Cart!", "Cart", item, new { @class = "btn btn-success" })
            </div>
        </div>
    </form>
}