@model ClassLibraryTicketShop.UserAndTicket

<style>
input[type=text], select {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>

<thead>
	<tr>
		<th>
			<h2>Shopping Cart</h2>
		</th>
	</tr>
</thead>

@foreach (var item in @Model.events)
{
	<form action="~/Home/Delete" method="delete">
		<div>
			<input type="hidden" name="EventId" value="@item.TicketEventDateID" />
                <ul>
                    <li><h3>Event Name: @item.EventName</h3></li>
                    <li><h3>Event Start: @item.EventStartDateTime</h3></li>
                    <li><h3>Event Description: @item.EventHtmlDescription</h3></li>
                </ul>
			<input type="submit" value="Delete" />
		</div>
	</form>
}

<h4>Enter all your details to complete your order!</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Buy">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<label asp-for="user.Firstname" class="control-label"></label>
				<input type="text" asp-for="user.Firstname" class="form-control" />
				<span asp-validation-for="user.Firstname" class="text-danger"></span>

				<label asp-for="user.Lastname" class="control-label"></label>
				<input type="text" asp-for="user.Lastname" class="form-control" />
				<span asp-validation-for="user.Lastname" class="text-danger"></span>

				<label asp-for="user.Email" class="control-label"></label>
				<input type="text" asp-for="user.Email" class="form-control" />
				<span asp-validation-for="user.Email" class="text-danger"></span>

				<input type="submit" value="Buy" class="btn btn-success" />
		</form>
	</div>









@*<table class="table">
	<thead>

		<tr>
			<th>
				<h6>Event</h6>
			</th>
			<th>
				<h6>Description</h6>
			</th>
			<th>
				<h6>Date</h6>
			</th>

			<th></th>
		</tr>

	</thead>

		<tbody>
			@foreach (var item in Model.events)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.EventName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EventHtmlDescription)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EventStartDateTime)
					</td>
					<td>
						@*<input type="submit" value="Delete" />*@
@*@Html.ActionLink("Delete", "Delete", new { @class = "btn btn-success"})*@
@*</td>
						</tr>

				}
			</tbody>

	</table>*@


