@model ClassLibraryTicketShop.UserAndTicket

<thead>

	<tr>
		<th>
			<h6>Event</h6>
		</th>
		<th>
			<h6>Description</h6>
		</th>
		<th>
			<h1>Events in your shopping cart: </h1>
		</th>

		<th></th>
	</tr>

</thead>

@foreach (var item in @Model.events)
{

	<form action="~/Home/Delete" method="delete">

		<lu>
			<input type="hidden" name="EventId" value="@item.TicketEventDateID" />

			<h5>@item.EventName</h5>
			<h5>@item.EventHtmlDescription</h5>
			<h5>@item.EventStartDateTime</h5>


			<input type="submit" value="Delete" />


		</lu>
	</form>
}

<h4>Enter all your details to complete your order!</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="user.Firstname" class="control-label"></label>
				<input asp-for="user.Firstname" class="form-control" />
				<span asp-validation-for="user.Firstname" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="user.Lastname" class="control-label"></label>
				<input asp-for="user.Lastname" class="form-control" />
				<span asp-validation-for="user.Lastname" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="user.Email" class="control-label"></label>
				<input asp-for="user.Email" class="form-control" />
				<span asp-validation-for="user.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Buy" class="btn btn-success" />
			</div>
		</form>
	</div>
</div>









@*<table class="table">
	<thead>

		<tr>
			<th>
				<h6>Event</h6>
			</th>
			<th>
				<h6>Description</h6>
			</th>
			<th>
				<h6>Date</h6>
			</th>

			<th></th>
		</tr>

	</thead>

		<tbody>
			@foreach (var item in Model.events)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.EventName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EventHtmlDescription)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EventStartDateTime)
					</td>
					<td>
						@*<input type="submit" value="Delete" />*@
@*@Html.ActionLink("Delete", "Delete", new { @class = "btn btn-success"})*@
@*</td>
						</tr>

				}
			</tbody>

	</table>*@


